:root {
  --m3-headline-small-font-family: "Roboto", Helvetica;
  --m3-headline-small-font-size: 24px;
  --m3-headline-small-font-style: normal;
  --m3-headline-small-font-weight: 400;
  --m3-headline-small-letter-spacing: 0px;
  --m3-headline-small-line-height: 32px;
}
