.text {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.text .planification {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(42.5, 152.53, 231.13) 50%,
    rgb(255, 153, 0) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Source Sans 3", Helvetica;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: Truepx;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}
